body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background: #111111;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-decoration: none;
    color: white;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links a {
    transition: all 0.3 ease 0s;
}

.nav-links li a:hover {
    color: rgb(83, 83, 83);
}

#logofiller {
    background-color: rgb(83, 83, 83);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
}

#port_active {}

.imagecontainer {display: flex;
    align-items: center;
}

.videocontainer {
    align-items: center;
}

p{text-align: center;}

p a{color: red;}